/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,button {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
  background: #FFFFFF;
  padding: 30px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 20px;
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

#errors {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#errors li {
  font-style: italic;
  color: #DA5858;
}
tr,td {
  /*border:0px!important;*/
}
  .blog-nav  {
    list-style-type: none;
  }
  .blog-nav li.this {
    display: inline;
    position: relative;
  }
  .blog-nav li.this:hover ol li{
    display: block;
  }
  .blog-nav li ol {
    position: absolute;
    left: -80px;
    top: 20px;
    padding: 0px;
    margin: 0px;
    z-index: 999;
    border-radius: 19px;
    background-color: white;
    overflow: hidden;
  }
  .blog-nav li ol li {
    cursor: pointer;
    display: none;
    padding: 5px;
    width: 245px;
    margin: 0px 10px;
    background-color: #FBFBFB;
    font-weight: bold;
    font-family: tahoma;
    border-bottom: 1px solid #FFFFFF;
  }
  .blog-nav li ol li a {
    color: black;
    font-size: 12px;
  }
  .blog-nav li ol li:hover {
    background: #F3F2F0;
  }
  table {
    font-size: 12px;
    font-family: 'tahoma';
  }
  .label {
    background: #585454;
    border:0px;
  }
  .label.label-success {
    background: #5cb85c;
  }
  .label.label-danger {
    background: #d9534f;
  }
  a.bg-danger:hover {
    background-color: #C14747;
}
.clone .add-supply {
  display: none!important;
}
.list .remove-supply {
  display: none;
}
.blog-nav li {
/*  text-align: center;
*/}
.smsCount,.applicantCount {
  background: red;
  color: white!important;
  font-size: 9px;
  margin: -5px 5px 5px 5px;
  padding: 5px;
  text-decoration: none;
}
.limit {
  background: #d9534f;
}
.profile-pic {
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.profile-pic img {
  width: 100%;
  height: 100%;
}
.profile-pic .upload {
  position: absolute;
  top: 0px;
  padding: 5px;
  background: rgba(0,0,0,.1);
  color: white;
  font-size: 30px;
}
.profile-pic .upload:hover {
  background: rgba(0,0,0,.4);
}
.smsColor {
  color: #BD0000!important;
}
.applicantColor {
  color: #BD0000!important;
}
.nav-tabs a {
  font-family: arial;
}
.form-controls {
  padding: 2px;
}